<head>
    <title>BI</title>
    <link rel="shortcut icon" href="/img/favicon.ico?v=2" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>