<nav id="navbar">
    <a href="/livros"> Livro <img src="/img/Livro.png" width="auto" height="24vh"> </a>
    <a href="/calendario"> Calendário <img src="/img/Calendario.png" width="auto" height="30vh"> </a>
    <a href="/TV"> TV <img src="/img/tv.png" width="auto" height="26vh"> </a>
    <a href="/jogos"> Jogos <img src="/img/controle.png" width="auto" height="30vh"> </a>
    <a href="/config"> Config <img src="img/Config.png" width="auto" height="28vh"> </a>
</nav>