<!DOCTYPE html>

<html>

<head>
</head>

<body>
    <a href="/inicio" style="justify-self: flex-start; align-self: flex-start; width:15vw"> <button>Voltar</button> </a>
    <form action="/mostrarItem" method="POST">
        <select id="select" name="tipo">
            <option selected disabled>Selecione um tipo</option>
            <option value="jogo">Jogos</option>
            <option value="livro">Livros</option>
            <option value="tv">TV</option>
            <option value="musica"> Músicas </option>
        </select>
        </br>
        <div id="div">
            Nome da Obra: <input type="text" name="nome" required> 
            <button type="submit">Enviar</button>
        </div>
       
    </form>
</body>

</html>

<script>
    const select = document.querySelector("#select");

    select.addEventListener("change", () => {
        document.querySelector("#div").style.display = "flex";
    });
</script>

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    div {
        display: none;
        flex-direction: column;
        justify-content: center;
    }
</style>