<!DOCTYPE html>
<html>
    <%-include("../partials/header")%>
    <body>
        <main>
            <h1>OII parceiro</h1>
            <form action="/cadastro" method="POST">
                Nome <input placeholder="Nome" name="nome">
                Usuário <input placeholder="Usuário" name="username">
                Senha <input placeholder="Senha" name="senha">
                <button type="submit">Cadastrar</button>
                <a href="/login">Já tenho conta</a>
            </form>
        </main>
    </body>
</html>
