<!DOCTYPE html>
<html>
    <%-include("../partials/head")%>
    <body>
        <main>
            <h1>OII parceiro</h1>
            <form action="/login" method="POST">
                Usuário <input placeholder="Usuário" name="username">
                Senha <input placeholder="Senha" name="senha">
                <button type="submit">Entrar</button>
                <a href="/cadastro">Não tem conta? Cadastre-se</a>
            </form>
        </main>
    </body>
</html>
