*{
    margin: 0;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    background-image: url("../img/background.png");
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    gap: 5px;
    height: 50%;
    background-color: azure;
    border: maroon double 5px;
}