*{
    margin: 0;
}

body{
    background-image: url("../img/background.png");
    background-repeat: repeat;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    gap: 5px;
    max-height: 80%;
    padding: 5px;
    background-color: azure;
    border: maroon double 5px;
}