body{
    background-color: bisque;   
}

*{
    margin: 0;
}

main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: center;
}

.recado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    align-items: center;
}

.item{
    text-align: center;
    border: 0.5rem solid black;
    border-radius: 5px;
    background-color: coral;
    margin: 2%;
    padding:1%;
    min-height: 20%;
    min-width: 20%;
}

#top{
    background-color: white;
    color: black;
    border: 0.2rem solid black;
    border-radius: 50%;
    content: auto;
    width: 10vw;
    height: 12vh;
    display: flex;
    justify-self: center;
    padding: 3vw;
    text-size-adjust: auto;
    text-align: center;
    align-items: center;
}