body{
    background-color: bisque;   
}

*{
    margin: 0;
}

main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: center;
}

.recado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    align-items: center;
}

.item{
    text-align: center;
    border: 0.5rem solid black;
    border-radius: 5px;
    background-color: coral;
    margin: 2%;
    padding:1%;
    min-height: 20%;
    min-width: 20%;
}

#top{
    background-color: white;
    color: black;
    border: 0.2rem solid black;
    border-radius: 50%;
    content: auto;
    width: 10vw;
    height: 12vh;
    display: flex;
    justify-self: center;
    padding: 3vw;
    text-size-adjust: auto;
    text-align: center;
    align-items: center;
}

header{
    background-color: cadetblue;
    display: flex;
    justify-content: end;
    flex-direction: row;
    height: 8vh;
    align-items: center;
    gap: 10px
}

#tela{
    border: double 0.5rem black;
    background-color: aliceblue;
    min-height: 90%;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#tela_interna{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 5px;
}

#enviar{
    background-color: cadetblue;
    border: none;
    height: 100%;
    border-radius: 50%;
    width: 8%;
    pointer-events: pointer;
}

#mandar{
    height: 10%;
    width: 100%;
    background-color:rgb(199, 242, 242);
    display: flex;
    align-items: center;
    margin-top: auto;
    border-top: solid 0.2rem cadetblue;
    gap: 5px
}

.mens{
    margin: 4px;
    width: 85%;
}

.mensagem{
    background-color: rgb(182, 242, 212);
    border: solid 0.2rem black;
    border-radius: 10%;
    width: 45%;
    min-height: 5%;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}