body{
    background-color: bisque;   
}

*{
    margin: 0px 2px 5px 0px;
}

main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: center;
}

.recado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    align-items: center;
}

.item{
    text-align: center;
    border: 0.5rem solid black;
    border-radius: 5px;
    background-color: coral;
    margin: 2%;
    padding:1%;
    min-height: 20%;
    min-width: 20%;
}

#top{
    background-color: white;
    color: black;
    border: 0.2rem solid black;
    border-radius: 50%;
    content: auto;
    width: 10vw;
    height: 12vh;
    display: flex;
    justify-self: center;
    padding: 3vw;
    text-size-adjust: auto;
    text-align: center;
    align-items: center;
}

header{
    background-color: cadetblue;
    display: flex;
    justify-content: end;
    flex-direction: row;
    height: 8vh;
    align-items: center;
    gap: 10px
}

#tela{
    border: double 0.5rem black;
    background-color: aliceblue;
    min-height: 90%;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#tela_interna{
    display: flex;
    flex-direction: column;
    padding: 1%;
    min-height: 80vh;
    gap: 5px;
}

#enviar{
    background-color: cadetblue;
    border: none;
    height: 80%;
    border-radius: 50%;
    width: 8%;
    cursor: pointer;
}

#mandar{
    height: 5vh;
    width: 100%;
    background-color:rgb(199, 242, 242);
    display: flex;
    align-items: center;
    justify-self: flex-end;
    top: auto;
    bottom: 0;
    border-top: solid 0.2rem cadetblue;
    gap: 5px
}

.mens{
    margin: 4px;
    width: 85%;
}

.mensagem{
    background-color: rgb(182, 242, 212);
    border: solid 0.2rem black;
    border-radius: 10%;
    width: 45%;
    min-height: 5%;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
}

.propria{
    background-color: rgb(182, 230, 242);
    border: solid 0.2rem black;
    border-radius: 10%;
    width: 45%;
    min-height: 5%;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
}

.nome{
    color: black; 
    display: flex; 
    align-self: flex-end; 
    align-content: flex-end;
}

.hora{
    text-size-adjust: 1%; 
    color: gray; 
    display: flex; 
    align-self: flex-start;
}

/*MODAL!!!*/
 .modal-fundo {
    display:flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);;
    transition: all 0.5s ease-in-out;
  }

  .modal-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    margin: 15% auto;
    padding: 30px;
    z-index: 2;
    border-radius: 10px;
    border: 3px solid #888;
    width: 60%;
    gap: 15px;
    height: 40%;;
  }

  .fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .fechar:hover,
  .fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }