*{
    margin: 0;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    background-image: url("../img/background.png");
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    gap: 5px;
    max-height: 80%;
    padding: 5px;
    background-color: azure;
    border: maroon double 5px;
}

nav{    
    padding-top: 2%;
    max-width: 2.5vw;
    position: fixed;
    left: 0;
    height: 100%;
    opacity: 0.7;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    background-color: coral;
    color: black;
    transition: 1.2s;
}

nav:hover a {
    opacity: 1;
}
nav:hover{
    max-width: 20vw;
}

nav a{
    display: flex;
    opacity: 0;
    text-decoration: none;
    color: black;
    max-height: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
    transition: all 0.7s ease-in-out;
}

nav a:hover{
    background-color: orangered;
    cursor: pointer;
}